.chicken-img{
    image-rendering: pixelated;
}

header,section,footer{
    background-color: aliceblue;
}

h1{

    background-image: url(img/sch_logo.jpg);
    background-clip: text;
    background-size: 300% 300%;
    color: transparent;
    animation: animate 8s ease infinite;
}

@keyframes animate{
    0% {
        background-position: 0%;
    }

    50%{
        background-position: 100%;
    }

    100%{
        background-position: 0%;
    }
}

